.bg-color{
    background-color: rgb(20, 20, 20);
}

.wd-add-height-to-scroll{
    height: 25vh;
}

.wd-lower-profile {
    margin-top: 5%;
}

.wd-pad-siding {
    padding-left: 50px;
    padding-right: 50px;
}

.wd-landing-sign-out-button {
    height: 34px;
    width: 85px;
    background-color: #e50914;
    color: #fff;
    float: right;
    border-radius: 5px;
    border: none;
    /* margin-top: 20px; */
    margin-right: 0px;
}