.avatar-background {
    background-position: center;
    background-color: transparent;
    color: #fff;
    height: 100vh;
    overflow: auto;
    min-height: 1000px;
}

.avatar-bring-it-forward {
    background-color: rgba(0, 0, 0, .6);
    height: 100vh;
    overflow: auto;
    min-height: 1000px;

}
.avatar-frame {
    z-index: 100;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-list-frame {
    z-index: 100;
    max-width: 90%;
    background-color: rgba(0,0,0,.75);
    color: #fff;
    line-height: 1.2;
    min-height: 600px;
}

.avatar-list-title {
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    margin: 0.2em 0;
}

.avatar-images-frame {
    margin-top: 3rem;
    max-width: 15rem;
    max-height: 15rem;
    background-color: transparent;
    border: none;
}

.avatar-title {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

.avatar-single-image-frame {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    min-width: 90px;
    min-height: 90px;
    margin-top: 2rem;
}

.avatar-select-button-frame {
    text-align: center;
}

.avatar-select-button {
    height: 34px;
    width: 70px;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

@media (max-width: 749px) {
    .avatar-title {
        font-size: 20px;
    }
    .avatar-direction {
        flex-direction: column;
    }
    .avatar-list-frame {
        min-height: 620px;
    }
    .avatar-images-frame {
        margin-top: 0;
        max-width: 100%;
        display: flex;
    }
    .avatar-single-image-frame {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .avatar-title {
        text-align: left;
        min-width: 10rem;
        padding-top: 7%;
    }
    .avatar-select-button-frame {
        padding-top: 5%;
    }
    .avatar-select-button-frame{
        margin-top: 0;
    }
}
